html{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header>h1{
    font-weight: 400;
}
header{
    display: flex;
    justify-content: space-between;
   margin: 0 2rem;
}
li{
    list-style: none;
    font-size: 1.5rem;
    
    
}
ul{
    display: flex;
    justify-content: space-between;
}
nav{
    position: relative;
    top: 0.5rem;
    width: 22rem;
}
.showpic{
    width: 95vw;
    margin: 1rem;

}
article{
    display: flex;
    margin: 1.5rem;
}
.container{
    text-align: center;
    margin-right: 2rem;
    padding: 1rem;
}
.container>h1{
    color: green;
}
p{
    font-size: 1.2rem;
    background-color: 	rgb(122, 206, 212);
    color: red;
    border-top: 3px solid rgb(255, 32, 3);
    border-bottom: 3px solid rgb(255, 32, 3);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}
footer{
    background-color: black;
    color: beige;
    justify-content: center;
    font-size: 1.5rem;
    height: 4rem;
    display: flex;

    align-items: center;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    color: green;
}